body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-color: #7d46d6;
    color: white;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo img {
    width: 100px;
    height: 100px;
    border-radius: 30px;
    margin-left: 20px;
}

header .actions .back-button {
    text-decoration: none;
    color: white;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: transparent;
    border: none;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

header .actions .back-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}